{extend name="common:base" /}
{block name="content"}
<link rel="stylesheet"  type="text/css"  href="__STATIC__/layui/build/css/layui.css"  >
<style type="text/css">
    .form .row dd{
        float: left;
        display: inline-block;
        width: calc(100% - 85px);
    }
  
    ul, ol, li {
        list-style: none;
    }
    .upload_area .post_imglist li {
        position: relative;
        float: left;
        padding: 0 10px 5px 0;
        line-height: 38px;
    }
    .upload_area .upload_btn {
        background: url(__STATIC__/layui/src/images/upload_btn.png) center no-repeat;
        background-size: 60px auto;
        float: left;
        overflow: hidden;
        position: relative;
        width: 60px;
        height: 60px;
    }
    .del {
        position: absolute;
        right: 0px;
        top: -10px;
        background: url(__STATIC__/layui/src/images/icon_del.png) no-repeat 15px 0;
        background-size: 20px auto;
        width: 40px;
        height: 20px;
        display: inline-block;
    }
    .upload_area .upload_btn input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        overflow: hidden;
        height: 60px;
        width: 60px;
    }
    #imglist li img.wh60 {
        margin: 0 auto;
        display: block;
        width: 60px;
        height: 60px;
    }
    #back div{
      position: fixed;
      top: 50%;
      left: 50%;
      width: 30%;
      height: auto;
      margin-left: -20%;
  
    }
  </style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="">

                        

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <input type="text" oninput="goods(this)" placeholder="搜索商品名称" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>商品</label>
                            <div class="col-sm-9">
                                <div style="line-height:34px;float:left;margin:0 10px 0 0;">
                                    <select class="form-control" name="goods_id">
                                        <option value="0" >默认全部商品可用</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>优惠券名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="title" value="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>门槛</label>
                            <div class="col-sm-4">
                                <input type="text" name="threshold" value="" placeholder="满多少可用（默认无门槛）" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>优惠金额</label>
                            <div class="col-sm-4">
                                <input type="text" name="price" value="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>优惠数量</label>
                            <div class="col-sm-4">
                                <input type="text" name="number" value="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>开始时间</label>
                            <div class="col-sm-4">
                                <input type="text" name="start_time" value="" class="form-control timer">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span>结束时间</label>
                            <div class="col-sm-4">
                                <input type="text" name="end_time" value="" class="form-control timer">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">说明</label>
                            <div class="col-sm-9">
                                <textarea name="note"  class="form-control" placeholder="说点什么...最少输入0个字符" datatype="*0-100" onkeyup="textarealength(this,100)"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-white" onclick="javascript:history.back(-1);return false;">取消</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="__STATIC__/layui/src/localResizeIMG2.js" type="text/javascript"></script>
<script type="text/javascript">

function goods(obj){
    var goods_name = $(obj).val();
    
    if(goods_name == ''){
        var option = '<option value="0">默认全部商品可用</option>';
        $("select[name='goods_id']").html(option);
        return;
    }

    var option = '';
    $.post("{:url('Ajax/get_goods')}",{'goods_name':goods_name},function(data){
        $(data.data).each(function(k,v){
            option += '<option value="'+v.goods_id+'">'+v.goods_name+'</option>';
        })
        $("select[name='goods_id']").html(option);
    },'json');
    

}


function addType(){
    var html = $('#itemss').html();
    $('#items').append(html);
}

    (function () {
        var viewImg = $("#imglist");
        var imgurl = '';
        var imgcount = 0;
        $('#upload_image').localResizeIMG({
            width: 360,
            quality: 0.8,
            success: function (result) {
            	console.log(result)
                var status = true;
                
                if (viewImg.find("li").length > 4) {
                    status = false;
                    alert("最多上传5张照片");
                    $(".upload_btn").hide();                    
                }
                if (status) {
                    viewImg.html('<li><span class="pic_time"><span class="p_img"></span><em>50%</em></span></li>');
                    viewImg.find("li:last-child").html('<img class="wh60" id="file'
                    + imgcount
                    + '" onclick="showimg('+imgcount+')" src="' + result.base64 + '"/><input type="hidden" name="img" value="'
                    + result.clearBase64 + '">');

                    $(".del").on("click",function(){
                        $(this).parent('li').remove();
                        $("#upload_image").show();
                        $(".upload_btn").show();
                    });
                    imgcount++;
                }
            }
        });
    })();

    $(".del").on("click",function(){
        $(this).parent('li').remove();
        $("#upload_image").show();
        $(".upload_btn").show();
    });
</script>
{/block}