.idea
composer.lock
*.log
runtime
.htaccess
upload
/application/database.php
/public/index.php
.project
.project1
.user.ini
.well-known
public/images/
public/uploads/
vendor/phpqrcode/cache
vendor/phpqrcode/cache/*

