{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table > thead>tr> th{
   text-align: center;
}
</style>
{/block}

{block name="content"}
<div class="ibox">
    <div class="ibox-content">
            <div class="row">
                        <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="status">　</label>
                                    <div>
                                        <a class="btn btn-primary" href="{:url('delivery/add')}"><i class="fa fa-edit"></i>添加配送方式</a>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
       </form>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="col-lg-2">配送方式名称</th>
                                    <th>计费方式</th>
                                    <th>首重（首件价格）</th> 
                                    <th>续重（续件价格）</th>
                                    <th>状态</th>
                                    <th>默认快递</th>
                                    <th>操作</th>
                                </tr>
                            </thead> 
                            <tbody>
                                {notempty name="list"}
                                {volist name="list" id="vo"}
                                <tr>
                                    <td>{$vo.order_id}</td>
                                    <td>{$vo.consignee}</td>
                                    <td>{$vo.mobile}</td>
                                    <td></td>
                                    <td>{$vo.order_amount}</td>
                                    <td>{$vo.pay_status}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a class="btn btn-default" href="{:url('order_refund/edit',['order_id'=>$vo.order_id])}"><i class="fa fa-list"></i> 查看订单</a>
                                    </td>
                                </tr>
                                {/volist}
                                {/notempty}
                            </tbody>
                        </table>
                        {$list->render()}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{/block}