{extend name="common:base" /}

{block name="content"}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                    <div class="pull-right" style="margin-top:-8px;">
                            <a class="btn btn-info" href="{:url('goods/virtual_goods_add')}"><i class="fa fa-plus"></i> 添加新模板</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                    <form method="get" action="">
                        
                        <div class="col-sm-2">
                            <div class="input-group"><input type="text" name="title" value="{$title}" placeholder="搜索模板名称" class="input-sm form-control"> </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group"> 
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> 
                                </span>
                            </div>
                        </div>
                    </form>
                    </div>


                    <div class="table-responsive">
                        <form action="{:URL('Admin/delAll')}" method="post">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th><input class="ch_all" type="checkbox">ID</th>
                                <th>模板名称 </th>
                                <th>已使用/总共数据 </th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list.data" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="i-checks ch_item" name="id[]"   value="{$vo.id}">{$vo.id}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.use} / {$vo.count} <a href="{:url('Goods/virtual_data_list',['type_id'=>$vo.id],false)}">详细</a></td>
                                <td>
                                    <a href="{:url('Goods/virtual_data_list',['type_id'=>$vo.id],false)}">查看已有数据</a>
                                    <a href="{:url('Goods/virtual_goods_add',['id'=>$vo.id],false)}">编辑</a>
                                    <a onclick="virtual_goods_del(this,{$vo.id})" href="javascript:;">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        </form>
                    </div>
                    <style>
                        .pagination{}
                        .pagination li{float:left;position:relative;margin-top:10px;padding:0 12px;}
                        .pagination li{float:left;width:42px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;}
                        .pagination li.active{color:#f00;}
                        .pagination li a{float:left;width:42px;height:28px; text-align:center;line-height:30px;border-left:none;color:#3399d5;}
                    </style>
                    <ul class="pagination">
                        {$page}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}
<script>
    function virtual_goods_del(obj,id){
        if(window.confirm('确认删除该商品类型吗？')){
            $.post("{:url('Goods/virtual_goods_del')}",{'id':id},function(data){
                alert(data.msg);
                if(data.code){
                    $(obj).parents('tr').remove();
                }
            },'json');
        }
    }


</script>
{/block}