{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}

.fant {
    font-weight: 600;
}
</style>
{/block}
{block name="content"}
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
            <form  method="get" action="{:url()}">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="product_name">会员信息</label>
                <input type="text" id="realname" name="realname" value="{$kw}" placeholder="可搜索会员昵称/姓名/手机号" class="form-control">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label" for="status">会员等级</label>
                <select name='level' class='form-control' style="width:150px;">
                    <option value=''>默认全部</option>

                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label" for="status">来源方式</label>
                <select name="source_type" id="source_type" class="form-control" style="width:150px;">
                    <option value='' {if $source_type==''}selected{/if}>默认全部</option>
                    {volist name="type_list" id="row"}
                    <option value='{$key}' {if $source_type==$key}selected{/if}>{$row}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">日期</label>
                <div class="input-daterange input-group" data-provide="datepicker">
                    <input class="form-control input-sm" name="begin_time" type="text" value="{$begin_time}"/>
                     <span class="input-group-addon">到</span>
                    <input class="form-control input-sm" name="end_time" type="text" value="{$end_time}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label class="control-label" for="status">　</label>
                <div>
                    <button class="btn btn-primary">查询</button>
                </div>
            </div>
        </div>

    </div>
</form>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
       
        <div class="col-lg-2">

        </div>

        <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover text-center">
                        <thead>
                            <tr><th>编号</th>
                                <th>会员ID</th>
                                <th>注册类型</th>
                                <th>会员分组</th>
                                <th>剩余余额</th>
                                <th>记录时间</th>
                                <th>来源方式</th>
                                <th>操作</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {notempty name="list"}
                            {volist name="list" id="row"}
                            <tr>
                                <td>{$row['id']}</td>
                                <td>{$row['mid']}</td>
                                <td>{$register_type[$row['regtype']]}</td>
                                <td class='hidden-xs'><td>{$row['balance']}</td></td>
                                <td class='hidden-xs'>{$row['create_time']|date='Y-m-d H:i:s',###}</td>
                                <td><span class='label label-primary'>{$type_list[$row['source_type']]}</span></td>
                                <td>
                                    <a class='btn btn-default' href="{:url('member/member_edit',array('id' => $row['mid']));}" style="background-color: #7DBAEF; color: #fff;">用户信息</a>
                                </td>
                            </tr>
                            {/volist}
                            {/notempty}
                        </tbody>
                    </table>
                    {$list->render()}
                </div>
            </div>
    </div>
{/block}