{extend name="common:base" /}
{block name="style"}

{/block}

{block name="content"}
<div class="main">
        <form id="setform" name="set"  method="post" class="form-horizontal form">
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        金币设置
                    </div>
                    <div class='panel-body'>
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-6">
                                金币（个）
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                金额（元）
                            </div>
                            <div class="col-sm-3 col-xs-6">
                               操作
                            </div>
                        </div>

                        {notempty name="set"}
                        {volist name="set" id="row"}
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-6">
                                <input type="text" name="jinbi[]" class="form-control" value="{$row['jinbi']}"  />
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <input type="text" name="money[]" class="form-control" value="{$row['money']}"  />
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a class="a" onclick="del(this)" href="javascript:;">删除</a>
                            </div>
                        </div>
                        {/volist}
                        {/notempty}

                        <div class="form-group insert">
                            <div class="col-sm-3 col-xs-6">
                                <a class="btn btn-primary" type="button" onclick="add()">添加</a>
                            </div>
                        </div>

            
                        <div class="form-group">
                              <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                              <div class="col-sm-9">
                                    <button class="btn btn-primary ajax-post col-lg-1" target-form="form-horizontal" type="submit">提交</button>
                              </div>
                        </div>
            
            
                  </div>
            </form>
             
 </div>
 {/block}
{block name="script"}
 
<script type="text/javascript">

    function add() {
        var html = '<div class="form-group">' +
            '<div class="col-sm-3 col-xs-6">' +
            '<input type="text" name="jinbi[]" class="form-control" value=""  />' +
            '</div>' +
            '<div class="col-sm-3 col-xs-6">' +
            '<input type="text" name="money[]" class="form-control" value=""  />' +
            '</div>' +
            '<div class="col-sm-3 col-xs-6">' +
            '<a class="a" onclick="del(this)" href="javascript:;">删除</a>' +
            '</div>' +
            '</div>';
        $('.insert').before(html);
    }
    
    function del(el){
       $(el).closest('.form-group').remove();
    }
    </script>
{/block}