{extend name="common:base" /}
{block name="style"}

{/block}

{block name="content"}
<div class="main">
    <form id="setform" name="set"  method="post" class="form-horizontal form">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                提现设置
            </div>
            <div class='panel-body'>

                <div class="form-group">
                    <label class="col-sm-2 control-label">提现开关</label>
                    <div class="col-sm-9">
                        <label style="margin-top:4px; margin-right:20px;">
                            <input type="radio" value="0" name="show" {if condition="isset($set['withdrawal']['show']) and ($set['withdrawal']['show'] eq 0)"}checked{/if} > 关
                        </label>
                        <label>
                            <input type="radio" value="1" name="show" {if condition="isset($set['withdrawal']['show']) and ($set['withdrawal']['show'] neq 0)"}checked{/if} > 开
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">每次最高提现金额</label>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="max" class="form-control" value="{$set['withdrawal']['max']}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">提现费率（%）</label>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="rate" class="form-control" value="{$set['withdrawal']['rate']}"   />

                    </div>
                    <span class="help-block">提现时候扣除的手续费百分比</span>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-primary ajax-post col-lg-1" target-form="form-horizontal" type="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}

<script type="text/javascript">

    $(document).ready(function(){
        $(".sendmoth").click(function(){
            interval_day();
        });
    });

    function interval_day(){
        if($('.sendmoth:checked').val()==1){
            $(".form-interval").show();
        }else{
            $(".form-interval").hide();
        }
    }
    interval_day();
</script>
{/block}