{extend name="common:base" /}

{block name="style"}
<style type="text/css">
    table thead tr{ background-color: #1ab394; }
    table thead tr th{ text-align: center; }
    .table>thead>tr>th {
    text-align: center;
   }
   .center {
    text-align: center;
   }

</style>
{/block}

{block name="content"}
<div class="main">
    <form action="" method='post' class='form-horizontal'>
        <input type="hidden" name="id" value="{$data['mid']}">
        <div class='panel panel-default'>
            <div class='panel-heading'>{$meta_title}</div>
            <div class='panel-body col-sm-5'>
                <div class="form-group">
                    <label class="col-sm-2 control-label">公司名</label>
                    <div class="col-sm-9">
                        <img style='width:100px;height:100px;padding:1px;border:1px solid #ccc' src='{$data['logo']}' style='width:100px;height:100px;padding:1px;border:1px solid #ccc' />
                        {$data['company_name']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['mobile']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系人</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['contacts']}<br>
                        {$data['mobile']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">固话</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['telephone']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">介绍</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['desc']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['province']} {$data['city']} {$data['district']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">登录密码</label>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="password" value=""/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">余额</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['balance']}
                        <a class='btn btn-primary' href="{:url('finance/balance_recharge', array('id'=>$data['mid']))}">充值</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
                    <div class="col-sm-3 col-xs-12">
                        <textarea class='form-control' cols="3" name="content">{$data['content']}</textarea>
                    </div>
                </div>

            </div>
            <div class='panel-body col-sm-6'>
                {if condition=" $data['is_vip'] eq 1"}
                <div class="form-group">
                    <label class="col-sm-2 control-label">VIP</label>
                    <div class="col-sm-9">
                        {$data['vip_type']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">vip到期时间</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['vip_time']}
                    </div>
                </div>
                {/if}

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">规模</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['contacts_scale']}人
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">成立时间</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['open_time']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">名人成就</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['achievement']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">名人介绍</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['introduction']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['status']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">审核备注</label>
                    <div class="col-sm-3 col-xs-12">
                        {$data['remark']}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片</label>
                    <div class="col-sm-3 col-xs-12">
                        <img style='width:100px;height:100px;padding:1px;border:1px solid #ccc' src='{$data['c_img']}' style='width:100px;height:100px;padding:1px;border:1px solid #ccc' />

                    </div>
                </div>


            </div>
            <div class='panel-body'>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <button class="btn btn-primary ajax-post col-lg-1" target-form="form-horizontal" type="submit">提交</button>
                        <input type="button" class="btn btn-default" name="submit" onclick="history.go(-1)" value="返回列表" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}

<script>

</script>
{/block}