{extend name="common:base" /}
{block name="style"}
<style type="text/css">
    .table>thead>tr>th {
        text-align: center;
    }
</style>
{/block}

{block name="content"}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <form  method="get" action="{:url()}">

                <div class="col-sm-1">
                    <div class="form-group">
                        <label class="control-label" for="order_id">ID</label>
                        <input type="text" placeholder="会员id" name="mid" value="{$id}" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="invoice_no">会员手机号</label>
                        <input type="text" placeholder="会员手机号" name="mobile" value="{$mobile}" class="form-control">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="status">注册类型</label>
                        <select name='type' class='form-control' style="width:150px;">
                            <option value=''>默认全部</option>
                            {foreach $register_type as $key => $vo}
                            <option value='{$key}' {if $type==$key}selected{/if}>{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>



                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">日期</label>
                        <div class="input-daterange input-group" data-provide="datepicker">
                            <input class="form-control input-sm" name="begin_time" type="text" value="{$begin_time}"/>
                            <span class="input-group-addon">到</span>
                            <input class="form-control input-sm" name="end_time" type="text" value="{$end_time}"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label class="control-label" for="status">　</label>
                        <div>
                            <button class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox-content">
        <div class="table-responsive" style="overflow-x:inherit;">
            <table class="table  table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th>会员ID</th>
                    <th>手机号码</th>
                    <th>信息</th>
                    <th>余额</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {notempty name="list"}
                {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo['mobile']}</td>
                    <td>{$register_type[$vo['regtype']]}<br>{$vo.name}</td>
                    <td>
                        {$vo['balance']}
                    </td>
                    <td>{$vo['createtime']|date="y-m-d H:i:s",###}</td>
                    <td  style="overflow:visible;">
                        <div class="btn-group btn-group-sm" >
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="javascript:;">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu" style='z-index: 9999'>

                                <li><a href="{if $vo['regtype'] eq 3 }{:url('company/person_details',array('id' => $vo['id']))}
                                {else/}{:url('company/company_details',array('id' => $vo['id']))}{/if}" title="会员详情"><i class='fa fa-edit'></i> 会员详情</a></li>
                                <li><a href="{:url('finance/balance_recharge', array('id'=>$vo['id']))}" title='充值余额'><i class='fa fa-money'></i> 充值余额 </a></li>

                                <li><a  href="javascript:void(0);" title='删除会员' class="delete" id = "{$vo['id']}"><i class='fa fa-remove'></i> 删除会员</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/volist}
                {/notempty}
                </tbody>
            </table>
            {$list->render()}
        </div>
    </div>

    {/block}
    {block name="script"}
    <script>
        $(function() {
            // 删除
            $('.delete').click(function(e) {
                var id = this.id;
                layer.confirm('是否确定删除', { icon: 3, title: '提示' }, function(index) {

                    $.post("{:url('member/member_delete')}", { id: id }, function(res) {
                        if (res.code) {
                            layer.msg(res.msg, { icon: 6 });
                            setTimeout(function() {
                                location.reload();
                            }, 1000);
                        } else {
                            layer.msg(res.msg, { icon: 5 });
                        }
                    });
                });
            });

        });
    </script>
    {/block}