{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}
</style>
{/block}
{block name="content"}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md" style=" position:relative;">
                    <h3>企业详情</h3>
                </div>
                <table class="table  table-bordered" align="right">
                    <tbody>
                        <tr>
                            <td class="col-lg-1 active text-right">企业名称</td>
                            <td class="col-lg-2">{$company.company_name}</td>
                            <td class="col-lg-1 active text-right">联系人</td>
                            <td class="col-lg-2">{$company.contacts}</td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">电话号码</td>
                            <td class="col-lg-2">{$company.mobile}</td>
                            <td class="col-lg-1 active text-right">固定电话</td>
                            <td class="col-lg-2">{$company.telephone}</td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">公司类型</td>
                            <td class="col-lg-2">
                                {$company.type}
                            </td>
                            <td class="col-lg-1 active text-right">公司介绍</td>
                            <td class="col-lg-2">
                                <p title="{$company.desc}">{$company.desc|getSubstr=0,30}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">是否VIP</td>
                            <td class="col-lg-2">
                                {if $company['is_vip']==0}否 {else/} 是{/if}
                            </td>
                            <td class="col-lg-1 active text-right">vip类型</td>
                            <td class="col-lg-2">
                                {if $company['vip_type']==0}
                                <span class='label label-default'>普通会员</span>
                                {elseif $company['vip_type']==1 /}
                                <span class='label label-success'>月费会员</span>
                                {elseif $company['vip_type']== 2 /}
                                <span class='label label-success'>季费会员</span>
                                {elseif $company['vip_type']== 3 /}
                                <span class='label label-success'>年费会员</span>
                                {/if}
                            </td>
                        </tr>
                        <tr>
                            {if $company['is_vip']==1}
                            <td class="col-lg-1 active text-right">vip到期时间</td>
                            <td class="col-lg-2">
                                {$company.vip_time|date='Y-m-d H:i:s',###}
                            </td>
                            {/if}
                            <td class="col-lg-1 active text-right">公司成立时间</td>
                            <td class="col-lg-2">
                                {$company.open_time}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">状态</td>
                            <td class="col-lg-2">
                                {if $company['status']==0}
                                <span class='label label-default'>待审批</span>
                                {elseif $company['status']==1 /}
                                <span class='label label-success'>通过审批</span>
                                {elseif $company['status']== -1 /}
                                <span class='label label-success'>不通过审批</span>
                                {/if}
                            </td>
                            <td class="col-lg-1 active text-right">公司规模</td>
                            <td class="col-lg-2">
                                {$company.contacts_scale}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>照片</h3>
                </div>
                <div>
                    <img src="{$company.c_img}">
                    营业执照
                    {volist name="$company.images|json_decode" id="vo"}
                    <img src="{$vo.path}">
                    {$vo.title}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>公司成就</h3>
                </div>
                <div>
                    {$company.achievement}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>名人介绍</h3>
                </div>
                <div>
                    {$company.introduction}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>审核信息</h3>
                </div>
                {if $company['status'] == -1}
                <a class='btn btn-default' data-toggle="modal" data-target="#myModal{$company['id']}"   style=" margin-top: 6px; background-color: #ff5858; color:#fff;">
                    不通过审批的理由
                </a>
                <br />
                <div class="modal fade" id="myModal{$company['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    审批不通过原因
                                </h4>
                            </div>
                            <div class="modal-body">
                                <textarea class="form-control" name='content' rows="3">
                                    {$company['remark']}
                                </textarea>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                    {/if}
                {if $company['status'] == 0}
                <a class='btn btn-default' onclick="return confirm('通过审批')" href="{:url('company/audit',array('status'=>'1','id' => $company['id']));}" style="background-color: #ffb034; color:#fff;">
                    通过审批
                </a>
                <br />
                <a class='btn btn-default' data-toggle="modal" data-target="#myModal{$company['id']}"  style=" margin-top: 6px; background-color: #ff5858; color:#fff;">
                    不通过审批
                </a>
                <br />
                <div class="modal fade" id="myModal{$company['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <form action="{:url('company/audit',array('status'=>'-1','id' => $company['id']));}" method="post">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        审批不通过原因
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" name='content' rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button   type="submit" class="btn btn-primary">
                                        提交更改
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </form>

                </div>
                {/if}

            </div>
        </div>

    </div>
</div>

{/block}
