{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}
</style>
{/block}
{block name="content"}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md" style=" position:relative;">
                    <h3>企业详情</h3>
                </div>
                <table class="table  table-bordered" align="right">
                    <tbody>
                        <tr>
                            <td class="col-lg-1 active text-right">企业名称</td>
                            <td class="col-lg-2">{$company.company_name}</td>
                            <td class="col-lg-1 active text-right">联系人</td>
                            <td class="col-lg-2">{$company.contacts}</td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">电话号码</td>
                            <td class="col-lg-2">{$company.mobile}</td>
                            <td class="col-lg-1 active text-right">固定电话</td>
                            <td class="col-lg-2">{$company.telephone}</td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">公司类型</td>
                            <td class="col-lg-2">
                                {$company.type}
                            </td>
                            <td class="col-lg-1 active text-right">所在地区</td>
                            <td class="col-lg-2">
                                {$company.province|region} {$company.city|region} {$company.district|region}
                            </td>
                        </tr>
                        <tr>
                            {if $company['open_time']}
                            <td class="col-lg-1 active text-right">成立时间</td>
                            <td class="col-lg-2">
                                {$company.open_time}
                            </td>
                            {/if}
                            {if $company['contacts_scale']}
                            <td class="col-lg-1 active text-right">规模</td>
                            <td class="col-lg-2">
                                {$company.contacts_scale}人
                            </td>
                            {/if}
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">是否VIP</td>
                            <td class="col-lg-2">
                                {if $company['is_vip']==0}否 {else/} 是{/if}
                            </td>
                            <td class="col-lg-1 active text-right">vip类型</td>
                            <td class="col-lg-2">
                                {if $company['vip_type']==0}
                                <span class='label label-default'>普通会员</span>
                                {elseif $company['vip_type']==1 /}
                                <span class='label label-success'>月费会员</span>
                                {elseif $company['vip_type']== 2 /}
                                <span class='label label-success'>季费会员</span>
                                {elseif $company['vip_type']== 3 /}
                                <span class='label label-success'>年费会员</span>
                                {/if}
                            </td>
                        </tr>
                        <tr>
                            {if $company['is_vip']==1}
                            <td class="col-lg-1 active text-right">vip到期时间</td>
                            <td class="col-lg-2">
                                {$company.vip_time|date='Y-m-d H:i:s',###}
                            </td>
                            {/if}
                            <td class="col-lg-1 active text-right">状态</td>
                            <td class="col-lg-2">
                                {if $company['status']==0}
                                <span class='label label-default'>待审批</span>
                                {elseif $company['status']==1 /}
                                <span class='label label-success'>通过审批</span>
                                {elseif $company['status']== -1 /}
                                <span class='label label-success'>不通过审批</span>
                                {/if}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>照片</h3>
                </div>
                <div>
                    {if $company.logo}
                    <img width="100px" height="100px" src="{$company.logo}">
                    LOGO
                    {/if}
                    <img width="100px" height="100px" src="{$company.c_img}">
                    营业执照
                    {volist name="$company.images|json_decode=true" id="vo"}
                    <img width="100px" height="100px" src="{$vo.path}">
                    {$vo.title}
                    {/volist}
                </div>
            </div>
        </div>
        {if $company.desc}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>公司介绍</h3>
                </div>
                <div>
                    {$company.desc}
                </div>
            </div>
        </div>
        {/if}
        {if $company.achievement}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>公司成就</h3>
                </div>
                <div>
                    {$company.achievement}
                </div>
            </div>
        </div>
        {/if}
        {if $company.introduction}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>名人介绍</h3>
                </div>
                <div>
                    {$company.introduction}
                </div>
            </div>
        </div>
        {/if}
        {if $company['status'] == -1}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>不通过审批的理由</h3>
                </div>
                <div>
                    {$company['remark']}
                </div>
            </div>
        </div>
    </div>
    {/if}

    </div>
</div>

{/block}
