{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}
</style>
{/block}
{block name="content"}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md" style=" position:relative;">
                    <h3>个人详情</h3>
                </div>
                <table class="table  table-bordered" align="right">
                    <tbody>
                        <tr>
                            <td class="col-lg-1 active text-right">姓名</td>
                            <td class="col-lg-2">{$person.name}</td>
                            <td class="col-lg-1 active text-right">性别</td>
                            <td class="col-lg-2">
                                {if $person['gender']=='male'}
                                男
                                {else /}
                                女
                                {/if}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">出生日期</td>
                            <td class="col-lg-2">{$person.birth}</td>
                            <td class="col-lg-1 active text-right">毕业时间</td>
                            <td class="col-lg-2">{$person.graduate_time}</td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">学校类型</td>
                            <td class="col-lg-2">{$person.school_type}</td>
                            <td class="col-lg-1 active text-right">学校名称</td>
                            <td class="col-lg-2">{$person.school}</td>
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">求职类型</td>
                            <td class="col-lg-2">
                                {$person.job_type}
                            </td>
                            {if $person.work_age}
                            <td class="col-lg-1 active text-right">工龄</td>
                            <td class="col-lg-2">
                                {$person.work_age}
                            </td>
                            {/if}
                        </tr>
                        <tr>
                            {if $person.salary}
                            <td class="col-lg-1 active text-right">薪资</td>
                            <td class="col-lg-2">
                                {$person.salary}
                            </td>
                            {/if}
                            {if $person.daogang_time}
                            <td class="col-lg-1 active text-right">到岗时间</td>
                            <td class="col-lg-2">
                                {$person.daogang_time}
                            </td>
                            {/if}
                        </tr>
                        <tr>
                            {if $person.age}
                            <td class="col-lg-1 active text-right">年龄</td>
                            <td class="col-lg-2">
                                {$person.age}
                            </td>
                            {/if}
                            {if $person.nation}
                            <td class="col-lg-1 active text-right">民族</td>
                            <td class="col-lg-2">
                                {$person.nation}
                            </td>
                            {/if}
                        </tr>
                        <tr>
                            <td class="col-lg-1 active text-right">状态</td>
                            <td class="col-lg-2">
                                {if $person['status']==0}
                                <span class='label label-default'>待审批</span>
                                {elseif $person['status']==1 /}
                                <span class='label label-success'>通过审批</span>
                                {elseif $person['status']== -1 /}
                                <span class='label label-success'>不通过审批</span>
                                {/if}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>照片</h3>
                </div>
                <div>
                    {if $person.avatar}
                    <img width="100px" height="100px" src="{$person.avatar}">
                    头像
                    {/if}
                    <img width="100px" height="100px" src="{$person.idcard_front}">
                    正面照
                    <img width="100px" height="100px"  src="{$person.idcard_back}">
                    反面照
                    {volist name="$person.images|json_decode=true" id="vo"}
                    <img width="100px" height="100px" src="{$vo.path}">
                    {$vo.title}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>说明</h3>
                </div>
                <div>
                    {$person.desc}
                </div>
            </div>
        </div>
        {if $person.experience}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>工作经历</h3>
                </div>
                <div>
                    {$person.experience}
                </div>
            </div>
        </div>
        {/if}
        {if $person.education}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>教育经历</h3>
                </div>
                <div>
                    {$person.education}
                </div>
            </div>
        </div>
        {/if}
        {if $person['status'] == -1}
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <h3>不通过审批的理由</h3>
                </div>
                <div>
                    {$person['remark']}
                </div>
            </div>
            </div>
        </div>
        {/if}

    </div>
</div>

{/block}
