{extend name="common:base" /}
{block name="style"}
<style type="text/css">
    .table>thead>tr>th {
        text-align: center;
    }

    .fant {
        font-weight: 600;
    }
</style>
{/block}
{block name="content"}
<div class="ibox-content m-b-sm border-bottom">

</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table  table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户id</th>
                    <th>手机号</th>
                    <th>名字</th>
                    <th>学校名称</th>
                    <th>求职类型</th>
                    <th>审核类型</th>
                    <th>申请时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {notempty name="list"}
                {volist name="list" id="row"}
                <tr>
                    <td> {$row['id']}</td>
                    <td> {$row['content_id']}</td>
                    <td class='hidden-xs'>
                        {$row['member_data']['mobile']}
                    </td>
                    <td>
                        {$row['data_array']['name']}
                    </td>
                    <td>
                        {$row['person_data']['school']}
                    </td>

                    <td>{$row['data_array']['job_type']|cate}</td>
                    <td>{if $row['edit'] eq 0}注册用户审核{else/}编辑信息审核{/if}</td>
                    <td>{$row['create_time']}</td>
                    <td>

                        <a class='btn btn-default' data-toggle="modal" data-target="#dataModal{$row['id']}"  style=" margin-top: 6px;">
                            查看详情
                        </a>

                            {if $row['status'] == 0}
                            <a class='btn btn-default' onclick="return confirm('通过审批')" href="{:url('company/person_audit',array('status'=>'1','id' => $row['id']));}" style="background-color: #ffb034; color:#fff;">
                                通过审批
                            </a>
                            <br />

                            <a class='btn btn-default' data-toggle="modal" data-target="#myModal{$row['id']}"  style=" margin-top: 6px; background-color: #ff5858; color:#fff;">
                                不通过审批
                            </a>
                            <br />

                            <div class="modal fade" id="myModal{$row['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <form action="{:url('company/person_audit',array('status'=>'-1','id' => $row['id']));}" method="post">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    审批不通过原因
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <textarea class="form-control" name='content' rows="3"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button   type="submit" class="btn btn-primary">
                                                    提交更改
                                                </button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </form>

                            </div>
                            {/if}
                    </td>
                </tr>
                <div class="modal fade" id="dataModal{$row['id']}" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="dataModal">
                                        审核信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        {if $row['edit'] eq 0 }
                                        <li>姓名 : {$row['data_array']['name']}</li>
                                        <li>手机号 : {$row['member_data']['mobile']}</li>
                                        <li>性别 : {if $row['data_array']['gender'] ==1 }男{else/}女{/if}</li>
                                        <li>出生日期 : {$row['data_array']['birth']}</li>
                                        <li>学校 : {$row['data_array']['school']}</li>
                                        <li>学历 : {$row['data_array']['school_type']}</li>
                                        <li>毕业时间 : {$row['data_array']['graduate_time']}</li>
                                        <li>职业 : {$row['data_array']['job_type']|cate}</li>
                                        <li>身份证正面：<img class="enlarge_img" src="{$row['data_array']['idcard_front']}"></li>
                                        <li>身份证反面：<img class="enlarge_img" src="{$row['data_array']['idcard_back']}"></li>
                                        {volist name="row['data_array']['images']" id="row"  key="k"}
                                        {if $k%2 neq 0}<li><img class="enlarge_img" src="{$row}"></li>{/if}
                                        {/volist}
                                        {else/}
                                        <li>姓名 : {$row['data_array']['name']}</li>
                                        <li>性别 : {if $row['data_array']['gender'] ==1 }男{else/}女{/if}</li>
                                        <li>年龄 : {$row['data_array']['age']}</li>
                                        <li>民族 : {$row['data_array']['nation']}</li>
                                        <li>求职类型 : {$row['data_array']['job_type']|cate}</li>
                                        <li>到岗时间 : {$row['data_array']['daogang_time']}</li>
                                        <li>薪资 : {$row['data_array']['salary']}</li>
                                        <li>工作经历：{$row['data_array']['experience']}</li>
                                        <li>教育经历：{$row['data_array']['education']}</li>
                                        <li>个人说明：{$row['data_array']['desc']}</li>
                                        {/if}
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->

                </div>
                {/volist}
                {/notempty}
                </tbody>
            </table>

            {$list->render()}
        </div>
    </div>
</div>
{/block}