{extend name="common:base" /}
{block name="style"}

{/block}

{block name="content"}
<div class="main">
    <form id="setform" name="set"  method="post" class="form-horizontal form">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                预定设置
            </div>
            <div class='panel-body'>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">预定所需金额:</label>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="money" class="form-control" value="{$money}"  />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-primary ajax-post col-lg-1" target-form="form-horizontal" type="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
 {/block}