{extend name="common:base" /}
{block name="style"}

{/block}

{block name="content"}
<div class="main">
    <form id="setform" name="set"  method="post" class="form-horizontal form">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                vip设置
            </div>
            <div class='panel-body'>



                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">普通会员:</label>
                    <div style="float: left;margin-top:7px;">可查看人数</div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="members" class="form-control" value="{$set['members']}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">月费会员:</label>
                    <div style="float: left;margin-top:7px;">可查看人数</div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="month" class="form-control" value="{$set['month']}"  />
                    </div>
                    <div style="float: left;margin-top:7px;">开通所需人民币：</div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="month_money" class="form-control" value="{$set['month_money']}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">季费会员:</label>
                    <div style="float: left;margin-top:7px;">可查看人数</div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="quarter" class="form-control" value="{$set['quarter']}"  />
                    </div>
                    <div style="float: left;margin-top:7px;">开通所需人民币：</div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="quarter_money" class="form-control" value="{$set['quarter_money']}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">年费会员:</label>
                    <div style="float: left;margin-top:7px;">可查看人数</div>
                    <div class="col-sm-3 col-xs-12">
                            <input type="text" name="year" class="form-control"  value="{$set['year']}" >
                    </div>
                    <div style="float: left;margin-top:7px;">开通所需人民币：</div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="text" name="year_money" class="form-control" value="{$set['year_money']}"  />
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-primary ajax-post col-lg-1" target-form="form-horizontal" type="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
 {/block}
{block name="script"}
 
<script type="text/javascript">

    $(document).ready(function(){
      $(".sendmoth").click(function(){
        interval_day();
      });
    });
    
    function interval_day(){
       if($('.sendmoth:checked').val()==1){
            $(".form-interval").show();
        }else{
           $(".form-interval").hide(); 
        } 
    }
    interval_day();
    </script>
{/block}